<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Smart Surveillance</title>
  <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet"/>
		   <script src="https://vjs.zencdn.net/7.5.5/video.js"></script>
</head>
<body>
  <div id="root"></div>
  <script>
 
  </script>
</body>
</html>