
.normal {
  background: #79F27B;
}

.siteLayoutContent {
  min-height: 280px;
  width: 1024px;
  margin:initial;
  padding:24px;
  padding-left:5%;
  background: #fff;
}

[data-theme="dark"] .siteLayoutContent {
  background: #141414;
}

.avatarUploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.demo-infinite-container {
  height: 300px;
  padding: 8px 24px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

